{% extends base.html %}
{% from "macros.html" import render_pagination,render_job %}
{% block title %}
{% endblock %}

{% blcok head %}
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta property="qc:admins" content="15317273575564615446375"/>
    <meta property="og:image" content="https://static.segmentfault.com/v-5a41fb00/global/img/touch-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ"/>
    <meta name="apple-itunes-app" content="app-id=958101793, app-argument=">
    <title>职位 - SegmentFault</title>
    <meta name="description" content="SegmentFault ( www.sf.gg ) 是中国领先的开发者技术社区。 我们希望为编程爱好者提供一个纯粹、高质的技术交流的平台， 与开发者一起学习、交流与成长，创造属于开发者的时代！"/>
    <meta name="keywords" content="SegmentFault,黑客马拉松,IT技术社区,编程社区,技术问答,技术文章,技术笔记,技术活动,程序员招聘,开发者,程序员,极客,编程,代码,开源,hackathon"/>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="SegmentFault"/>
    <link rel="shortcut icon" href="https://static.segmentfault.com/v-5a41fb00/global/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="https://static.segmentfault.com/v-5a41fb00/global/img/touch-icon.png">
    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo" content="https://static.segmentfault.com/v-5a41fb00/global/img/touch-icon.png"/>
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题" href="/feeds/questions">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章" href="/feeds/blogs">
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a41fb00/global/css/global.css"/>
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a41fb00/job/css/job.css"/>
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a41fb00/global/css/responsive.css"/>
</head>
{% endblock %}

{% block body %}
<body data-mod="job" class="job-index ">
<img id="icon4weChat" style="height: 0;width: 0;" data-src="https://static.segmentfault.com/v-5a41fb00/global/img/touch-icon-512.png">
<div class="global-nav sf-header sf-header--index">
    <nav class="container nav"><div class="visible-xs header-response">
        <a href="/search" style="display:block">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a><div class="sf-header__logo sf-header__logo--response">
        <h1><a href="/" style="height:24px; background-size: auto 24px;">

        </a>
        </h1>
    </div>
        <a href="/user/login" class="pull-right login-btn">
        <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <div class="bottom-nav">
            <div class="opts">
                <a class="opts-group " href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>首页</span>
                </a>
                <a class="opts-group " href="/questions">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>问答</span>
                </a>
                <a class="opts-group " href="/news">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                <span>头条</span>
                </a>
                <a class="opts-group " href="/blogs">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    <span>专栏</span>
                </a>
                <a class="opts-group " href="/lives">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                <span>讲堂</span>
                </a>
                <div class="opts-group">
                    <div class="btn-group dropup">
                        <i class="fa fa-bars dropdown hoverDropdown" data-toggle="dropdown" aria-hidden="true"><span></span></i>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/jobs">职位</a>
                            </li>
                            <li>
                                <a href="/events">活动</a>
                            </li>
                            <li>
                                <a href="/tags">标签</a>
                            </li>
                            <li>
                                <a href="/badges">徽章</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>

        </script>
        <div class="row hidden-xs">
            <div class="col-sm-8 col-md-9 col-lg-9">
                <div class="sf-header__logo">
                    <h1>
                        <a href="/">SegmentFault</a>
                    </h1>
                </div>
                <div>
                    <ul class="menu list-inline pull-left hidden-xs">
                        <li class="menu__item">
                            <a href="/" class="">首页</a>
                        </li>
                        <li class="menu__item">
                            <a href="/questions" class="">问答</a>
                        </li>
                        <li class="menu__item">
                            <a href="/news" class="">头条</a>
                        </li>
                        <li class="menu__item">
                            <a href="/blogs" class="">专栏</a>
                        </li>
                        <li class="menu__item">
                            <a href="/lives" class="">讲堂</a>
                        </li>
                        <li class="menu__item menu__item--more dropdown">
                            <a href="##" class="dropdown-toggle dropdownBtn" data-toggle="dropdown">发现<i class="fa fa-caret-down" style="font-size: 14px;margin-left: 5px;" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-block hidden"><ul class="dropdown-content-menu">
                                <li>
                                    <a href="/events">活动</a>
                                </li>
                                <li>
                                    <a href="/groups">技术圈<span class="notice notice-menu">hi</span></a>
                                </li>
                                <li>
                                    <a href="/jobs">找工作</a>
                                </li>
                                <li>
                                    <a href="/users">排行榜</a>
                                </li>
                                <li>
                                    <a href="/badges">徽章</a>
                                </li>
                                <li>
                                    <a href="/notes">笔记</a>
                                </li>
                                       <li>
                                    <a href="https://docs.segmentfault.com" target="_blank">开发手册<i style="line-height: 20px;font-size: 12px;color: #F5A623;" class="ml10 fa fa-external-link-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://business.segmentfault.com/ads.html?utm_source=sf-header" target="_blank">广告投放<i style="line-height: 20px;font-size: 12px;color: #F5A623;" class="ml10 fa fa-external-link-square"></i>
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </li>
                        <li class="menu__item visible-sm-inline-block">
                            <a href="/search">
                                <span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>
                            </a>
                        </li>
                    </ul>
                    <form action="/search" class="header-search  hidden-sm hidden-xs pull-right" >
                        <button class="btn btn-link">
                            <span class="sr-only">搜索</span>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <input id="searchBox" name="q" type="text"  placeholder="搜索问题或关键字" class="form-control" value="" />
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 text-right">
                <ul class="opts list-inline hidden-xs">
                    <li class="opts__item">
                        <a href="/user/login" class="SFLogin btn-signin" style="margin-bottom:2px;">立即登录</a>
                        <a href="/user/login" class="SFLogin ml10 btn-signup"
                                       onClick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Login']);">免费注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container companys wrap">
    <div class="row">
        <div class="col-xs-12 col-md-9 main">
            <ul class="mt30 search-nav nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="/jobs"><i class="fa fa-black-tie mr10" aria-hidden="true"></i>找工作</a>
                </li>
                <li role="presentation">
                    <a href="/companies"><i class="fa fa-building-o mr10" aria-hidden="true"></i>找企业</a>
                </li>
                <a href="/jobs/intro#createForm" class="pull-right" target="_blank">企业申请入驻 <i class="fa fa-external-link-square text-muted" aria-hidden="true"></i></a>
            </ul>
            <div class="job-list">
                <h2 class="h4 mt40 job-list-title">推荐职位</h2>
                <div class="job-list-item row">
                    <div class="col-md-6 job-list-item-block">
                        {% for job in pagination.items %}
                            {{ render_job(job) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{{ render_pagination(pagination,'job.index') }}

{% endblock %}

</html>


